numpy==1.26.4
scipy==1.11.4
scikit-learn==1.3.2
sentence-transformers==2.2.2
huggingface-hub>=0.21,<0.25
faiss-cpu==1.7.4
faster-whisper
sounddevice
soundfile
pyaudio
pyttsx3
opencv-python
mediapipe
pyMuPDF
groq
dotenv
librosa